{% extends "base.html.twig" %}
{% block title %}Ajouter une ou plusieurs parties{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/matchhistory.css') }}" />
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
        <h1 class="h3 mb-0 text-gray-800">Ajouter une ou plusieurs parties</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Ajouter une partie depuis l'API de Riot
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url("savematch") }}">
                        <input type="hidden" name="sendtype" id="sendtype" value="single" />
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label class="w-100">
                                    <input type="number" id="matchid" name="matchid" placeholder="XXXXXXXXXX" class="form-control form-control-user" required />
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Ajouter plusieurs parties depuis des fichiers JSON
                    </h6>
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url("savematch") }}" enctype="multipart/form-data">
                        <input type="hidden" name="sendtype" id="sendtype" value="multiple" />
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <label class="w-100">
                                    <input type="file" id="matchfiles" name="matchfiles[]" class="form-control form-control-user" required multiple="multiple" />
                                </label>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Ajouter les parties depuis les fichiers de sauvegarde
                    </h6>
                </div>
                <div class="card-body">
                    <div class="alert alert-warning">
                        Cette opération réinitialisera la base de données avant d'utiliser le contenu du <span title="%kernel.project_dir%/files/games" class="font-italic">dossier de sauvegarde des parties</span> pour enregister à nouveau toutes les données. Une fois lancée, cette opération ne doit pas être annulée et peut prendre plusieurs minutes, ou plusieurs heures si le nombre de parties à traiter est important. De plus, il est possible que certaines parties ne soient pas ajoutées correctement, et devront faire l'objet d'un ajout manuel. Le site sera indisponible durant toute l'opération.
                    </div>
                    <a href="{{ path("recreate_database") }}" class="btn btn-primary btn-block">Recréer la base de données</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}