{% extends "base.html.twig" %}
{% block title %}Historique de parties{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/matchhistory.css') }}" />
{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
        <h1 class="h3 mb-0 text-gray-800">Historique de parties</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Parties enregistrées</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.matchs }} parties</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-gamepad fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Parties gagnées</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.victory }} victoires</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-trophy fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Parties perdues</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.defeat }} défaites</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-skull-crossbones fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Parties annulées</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total.remake }} remakes</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-forward fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Liste des parties
                        <span class="float-right">
                            <a href="{{ url("addmatch") }}">
                                <i class="fas fa-plus"></i>
                            </a>
                        </span>
                    </h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            {% for match in matchs %}
                            <tr>
                                <td>
                                    Match N°{{ match.id }} | Partie terminée le {{ match.datetime|date("d/m/Y à H:i") }} | Durée de la partie : {{ match.duration }}
                                    <br /><br />
                                    {% for compo in compos %}
                                        {% if compo.match.id == match.id %}
                                            <img src="https://leaguestats.infinity54.fr/riot/img/champion/tiles/{{ compo.champion.name }}_0.jpg" alt="{{ compo.champion.displayName }}" class="checkmatchchamp" />
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}